    /*comment*/

body{
    /*background-color: #adb5bd;*/
}

.card{
    margin-bottom: 15px;
}

.jumbotron-login{
    text-align: center;
}

.my-border{
    border-right: #4e555b solid 2px;
}

.my-border-top{
    border-top: #4e555b solid 2px;
}

.my-border-bootom{
    border-bottom: #4e555b solid 2px;
}

.add-user-link{
    font-size: 10px;
}

.wrap{
    min-height: 1000px;
    background-color: #adb5bd;
    background-image: url("../img/background_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
}
.wrap-user{
    min-height: 1000px;
    background-color: #adb5bd;
    background-image: url("../img/background-users.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
}

.wrap-admin{
    min-height: 1000px;
    background-color: #adb5bd;
    background-image: url("../img/background-admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
}

.jumbotron-opacity{
    background-color: rgba(233, 236, 239, 0.8);
    margin: 10px;
}

.jumbotron-opacity-1{
    background-color: rgba(233, 236, 239, 0.9);
    margin: 25px;
}
footer {
    width: 100%;
    height: 60px;
    color:#fff;
    background-color: #212529;
    text-align: center;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.container-form{
    padding: 20px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

#price{
    color: #34ce57;
}

.hidden{
    visibility: hidden; !important;
}

div.dataTables_length {
    padding-left: 2em;
}
div.dataTables_length,
div.dataTables_filter {
    padding-top: 0.55em;
}

.table-bordered {
    border: 1px solid #dee2e6;
    background: #adb5bd;
}